/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400);

html {
	height: 100%;
}

body {
	background-color: transparent !important;
}

.container {

	margin-top: 20%;
}


.line {
	clear:both;
}

.current {
	background-color: #FFB84D !important;
}

.character {
	color: transparent;
	font-size: 2em;
	font-family: "Vollkorn";
	background-color: #f8f8f8;
	min-width: 22px;
	min-height: 33px;
	line-height: 32px;
	margin: 0px 1px 25px 1px;
	padding-top: 2px;
	padding-bottom: 0px;
	border-bottom: 3px #000 solid;
	border-radius: 3px;
	float: left;
	text-align: center;
	vertical-align: text-bottom;
}

.apparent {
	background-color: transparent;
	color: #000;
	border-bottom: 3px transparent solid;
}